body{
    background-color: #FAFAFA;
}

.loginpage__main{
    display: flex;
    margin-top: 10px;
    margin-left: -65px;
  }

.loginpage__logo{
    width:175px;
    margin-top: 25px;
}

.loginpage_rightcomponent{
    width: 350px;
    padding-bottom: 25px;
    border: 1px solid #DBDBDB;
    margin-top: 25px;
    text-align: center;
    background-color: white;
    border-radius: 5px;

}
.loginpage__signin{
    margin-top: 25px;
}

.loginpage__text{
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #DBDBDB;
    padding-left: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.loginpage__button{
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #0395f6;
    background-color: #0395f6;
    color: white;
    margin-top: 5px;
}

.loginpage__ordiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginpage__divider{
    width: 97px;
    height: 0px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
}

.loginpage__or{
    margin: 0px 25px;
    font-weight: bold;
    color: #BEBEBE;
}

.loginpage__fb{
    color: #395185;
    font-weight: bold;
    margin-top: 20px;

}

.loginpage__forgot{
    color: rgba(var(--fe0, 0, 55, 107), 1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}

.loginpage__signupoption{
    margin-top: 25px;
    height: 56px;
    width: 356px;
    border: 1px solid #DBDBDB;
    background-color: #fff;
    text-align: center;
}

.loginpage___signup{
    margin-top: 20px;
}

.loginpage___signin{
    margin-top: 20px;
}

.loginpage__downloadSection{
    height: 105px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
}
.loginpage__option{
    margin-top: 20px;
}
.loginpage__dwimg{
    margin: 5px;
}